@asa-primary:				 #5d4ebf;
@asa-booking:        #18d9c5;
@asa-data:           #e880ff;
@asa-uptake:         #ffbfb0;
@asa-appointments:   #0f468cb3;
@asa-chat: 			 #0F468C;
@blue-base:          #3e79f7;
@purple-base:        #a461d8;
@cyan-base:          #04d182;
@green-base:         #21B573;
@magenta-base:       #eb2f96;
@pink-base:          #eb2f96;
@red-base:           #fd4332;
@orange-base:        #fa8c16;
@yellow-base:        #fadb14;
@volcano-base:       #ff6b72;
@geekblue-base:      #17bcff;
@lime-base:          #a0d911;
@gold-base:          #ffc542;

@primary-color:       @asa-primary; 
@info-color:          @primary-color;
@success-color:       @cyan-base;
@processing-color:    @blue-base;
@error-color:         @volcano-base;
@highlight-color:     @volcano-base;
@warning-color:       @gold-base;
@normal-color:       #fafafb;
@white:              #ffffff;
@black:              #000000;

@gray-dark:                 #1a3353;
@gray:                      #455560;
@gray-light:                #72849a;
@gray-lighter:              #ededed;
@gray-lightest:             #f7f7f8;

@colors-palette: {
	blue:     	  @blue-base;
	purple:       @purple-base;
	cyan:     	  @cyan-base;
	green:        @green-base;
	magenta:	    @magenta-base;
	pink:         @pink-base;
	red:          @red-base;
	orange:       @orange-base;
	yellow:       @yellow-base;
	volcano:      @volcano-base;
	geekblue:     @geekblue-base;
	lime:         @lime-base;
	gold:         @gold-base;
}

@theme-colors: {
	primary:        @primary-color;
	secondary:      @purple-base;
	success:        @success-color;
	info:           @info-color;
	warning:        @warning-color;
  danger:         @error-color;
  gray:           @gray;
	gray-light:     @gray-light;
	gray-lighter:   @gray-lighter;
	gray-lightest:  @gray-lightest;
  dark:           @gray-dark;
};

:root {
	--color-brand-navy: #0F468C;
	--color-red: #fd4332;
	--color-red-5: #ff4d4f;
	--color-yellow-5: #ffec3d;
	--bg-color-red-light: rgba(253, 67, 50, 0.1);
	--bg-color-orange-5: #ffa940;
  }
