VITE_APP_API_URL=
VITE_APP_SOCKETS_DOMAIN=
VITE_APP_URL_PREFIX_PATH=
VITE_APP_API_CDN=

VITE_APP_FACEBOOK_APP_ID=
VITE_APP_GOOGLE_CLIENT_ID=

VITE_APP_SENTRY_KEY=
VITE_APP_SENTRY_PROJECT=

VITE_APP_DEEPSTREAM_URL=

VITE_APP_SHOW_APPOINTMENTS_LIKELY_TO_BE_MISSED=
VITE_APP_SHOW_PASSED_APPOINTMENTS_REQUIRING_IMMEDIATE_ATTENTION=
VITE_APP_SHOW_MESSAGES_REQUIRING_IMMEDIATE_ATTENTION=
VITE_APP_SHOW_APPOINTMENTS_REMINDERS=
VITE_APP_SHOW_KPIS=

