VITE_APP_API_URL=http://20.76.203.118/abi-be/api/v1
VITE_APP_SOCKETS_DOMAIN=ws://20.76.203.118/abi-be/ws/chat
VITE_APP_URL_PREFIX_PATH=abi-fe
VITE_APP_API_CDN=

VITE_APP_FACEBOOK_APP_ID=
VITE_APP_GOOGLE_CLIENT_ID=

VITE_APP_SENTRY_KEY=
VITE_APP_SENTRY_PROJECT=

VITE_APP_DEEPSTREAM_URL=

VITE_APP_SHOW_APPOINTMENTS_LIKELY_TO_BE_MISSED=true
VITE_APP_SHOW_PASSED_APPOINTMENTS_REQUIRING_IMMEDIATE_ATTENTION=true
VITE_APP_SHOW_MESSAGES_REQUIRING_IMMEDIATE_ATTENTION=true
VITE_APP_SHOW_APPOINTMENTS_REMINDERS=true
VITE_APP_SHOW_KPIS=false
