.side-nav {
    height: 100vh; 
    position: fixed;
    top: 0;
    box-shadow: @side-nav-box-shadow;
    z-index: @zindex-modal - 1;

    & when (@theme = light) {
        background-color: @white;
    }
    
    .print ({
        display: none;
    }); 

    &.side-nav-dark {
        background-color: @menu-dark-bg;
    }

    .hide-group-title {
        .ant-menu-item-group-title {
            display: none;
        }
    }

    .ant-menu-item {
        .anticon {
            color: @primary-color;
        }
    }

    // Hide side nav on mobile and tablet views
    @media (max-width: 991px) {
        display: none !important;
    }
}

.mobile-nav-menu {
    height: calc(100vh - 120px);
}