.authentication {
  height: 3.6rem;

  .authentication-image {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}

.authentication-error {
  height: auto;
  margin-top: @margin-xss;
  color: @error-color;
}

.authentication-label-link {
  color: @primary-color;
  text-decoration: underline;
  cursor: pointer;
}

.authentication-logout {
  position: absolute;
  top: @margin-md;
  right: @margin-md;
  z-index: @zindex-back-top;
}
