.authentication {
  height: 3.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;

  .authentication-image {
    max-height: 100%;
    max-width: 100%;
    height: auto;
    width: auto;
    object-fit: contain;
  }
}

.authentication-error {
  height: auto;
  margin-top: @margin-xss;
  color: @error-color;
}

.authentication-label-link {
  color: @primary-color;
  text-decoration: underline;
  cursor: pointer;
}

.authentication-logout {
  position: absolute;
  top: @margin-md;
  right: @margin-md;
  z-index: @zindex-back-top;
}

.authentication-motion-message {
  color: @error-color;
}
