.overview-card__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  margin-bottom: 1rem;
  border-radius: @border-radius-sm;
}

.overview-card__icon--booking {
  background-color: @asa-booking;
  box-shadow: 0 0 6px rgba(@asa-booking, 0.8);
}

.overview-card__icon--asa-data {
  background-color: @asa-primary;
  box-shadow: 0 0 6px rgba(@asa-primary, 0.8);
}

.overview-card__icon--uptake {
  background-color: @asa-uptake;
  box-shadow: 0 0 6px rgba(@asa-uptake, 0.8);
}

.overview-card__icon--appointments {
  background-color: @asa-appointments;
  box-shadow: 0 0 6px rgba(@asa-appointments, 0.8);
}

.text--booking {
  color: @asa-booking !important;
}

.text--asa-data {
  color: @asa-primary !important;
}

.text--uptake {
  color: @asa-uptake !important;
}

.text--appointments {
  color: @asa-appointments !important;
}
