.overview-card-on-hover(@class-name, @color-name) {
  .overview-card--hover-@{class-name} {
    transition: box-shadow 250ms ease-in-out, border 250ms ease-in-out;

    &:hover {
      border: 1px solid @color-name;
      box-shadow: 0 1px 2px -2px rgba(@color-name, 0.16),
        0 3px 6px 0 rgba(@color-name, 0.12),
        0 5px 12px 4px rgba(@color-name, 0.09);

      .overview-card__icon {
        box-shadow: 0 0 12px rgba(@color-name, 0.9);
      }
    }

    .overview-card__icon--@{class-name} {
      background-color: @color-name;
      box-shadow: 0 0 8px rgba(@color-name, 0.8);
      transition: box-shadow 250ms ease-in-out;
    }
  }
}

.overview-card-on-hover(booking, @asa-booking);
.overview-card-on-hover(appointments, @asa-appointments);
.overview-card-on-hover(uptake, @asa-uptake);
.overview-card-on-hover(asa-data, @asa-data);

.overview-card__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  margin-bottom: 1rem;
  border-radius: @border-radius-base;
}

.overview-card__score {
  &.ant-typography {
    @media (max-width: @screen-xl) {
      font-size: @heading-2-size;
    }
    @media (max-width: 1200px) {
      font-size: @heading-3-size;
    }
  }
}

.text--booking {
  color: @asa-booking !important;
}

.text--asa-data {
  color: @asa-data !important;
}

.text--uptake {
  color: @asa-uptake !important;
}

.text--appointments {
  color: @asa-appointments !important;
}

.blink {
  animation: blink 3s infinite;
  color: var(--color-red) !important;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
    transform: scale(1);
  }
}
.blink-human-required {
  color: var(--color-red) !important;
}
@keyframes human-required {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
    transform: scale(1);
  }
}
.blink-in-emergency-situation {
  color: var(--color-red) !important;
}
.blink-in-opt-out {
  color: var(--color-red) !important;
}
@keyframes blink-in-emergency-situation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
    transform: scale(1);
  }
}

@keyframes blink-in-opt-out {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
    transform: scale(1);
  }
}
.badge-color-warning {
  color: rgb(255, 197, 66);
}
.pending-appointments-reminders-title {
  padding-left: 10px;
}
.ant-card-body {
  overflow-x: auto;
}
.cursor-pointer {
  cursor: pointer;
}
.mria-priority-low {
  background-color: var(--color-yellow-5);
  color: black;
}
.mria-priority-medium {
  background-color: var(--bg-color-orange-5);
  color: black;
}
.mria-priority-high {
  background-color: var(--color-red-5);
  color: white;
}
.mria-priority-low,
.mria-priority-medium,
.mria-priority-high {
  display: inline-block;
  min-width: 85px;
  padding: 0 10px;
  line-height: 28px;
  border-radius: 10px;
  text-align: center;
  border-color: grey;
  border-width: 2px;
}
