:root {
  --color-brand-navy: #0F468C;
  --color-red: #fd4332;
  --color-red-5: #ff4d4f;
  --color-yellow-5: #ffec3d;
  --bg-color-red-light: rgba(253, 67, 50, 0.1);
  --bg-color-orange-5: #ffa940;
}
.loading.cover-content {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.loading.cover-page {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loading .ant-spin {
  color: #5d4ebf;
}
