.loading.cover-content {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.loading.cover-page {
  position: fixed;
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.loading .ant-spin {
  color: #5d4ebf;
}
.blink {
  animation: blink 3s infinite;
  color: #cc0000 !important;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
    transform: scale(1);
  }
}
.badge-color-warning {
  color: rgb(255, 197, 66);
}
.pending-appointments-reminders-title {
  padding-left: 10px;
}
.ant-card-body {
  overflow-x: auto;
}
.cursor-pointer {
  cursor: pointer;
}
.mria-priority-low {
  background-color: yellow;
  color: black;
}
.mria-priority-medium {
  background-color: orange;
  color: black;
}
.mria-priority-high {
  background-color: red;
  color: white;
}
.mria-priority-low,
.mria-priority-medium,
.mria-priority-high {
  padding: 5px;
  border-radius: 10px;
  text-align: center;
  border-color: grey;
  border-width: 2px;
}
